extends layout

block content
  h1= Shiva Ram Reddy Marthala
  p Welcome to #{Shiva Ram Reddy Marthala}, interesting fact about myself is travelling solo trips all over the country and enjoy the roads trips and natures.